.index-html{
  height: 100%;
}
.index-bg{
  background: url(../../../common/img/bg.jpg) top center no-repeat;
  background-size: cover;
  height: 100%;
}
.header {
  padding-top: 0.5rem;
}

.header-img {
  display: block;
  width: 8rem;
  margin-left: auto;
  margin-right: auto;
}
.progress {
  width: 90%;
  height: .8rem;
  border: 1px solid rgba(66, 26, 123, .5);
  position: absolute;
  left: 5%;
  bottom: 2rem;
  margin: auto;
  background: rgba(0, 0, 0, .1);
  border-radius: .4rem;
}

.progressbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-image: linear-gradient( 90deg, #43CBFF 10%, #9708CC 100%);
  border-radius: .4rem;
  -webkit-transition: width ease-in 200ms;
}

.progresstext {
  position: absolute;
  top: .15rem;
  left: 0;
  width: 100%;
  text-align: center;
}

.progresstextSub {
  position: absolute;
  top: -2rem;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: .6rem;
  color: rgba(255, 255, 255, .6);
}